<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tv_show.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @tv_show.summary %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @tv_show.release_date %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @tv_show.rating %>
</p>

<h2>Listado de episodios</h2>
<% @tv_show.episodes.each do |episode| %>
    <p>
        <strong>Episode number:</strong>
        <%= episode.episode_number %>
    </p>

    <p>
        <strong>Title:</strong>
        <%= episode.title %>
    </p>

    <p>
        <strong>Summary:</strong>
        <%= episode.summary %>
    </p>
    <hr>
<% end %>

<h2>Agregue un episodio:</h2>
<%= form_with model: [ @tv_show, @tv_show.episodes.build ] do |form| %>
    <p>
        <%= form.label :episode_number %><br>
        <%= form.number_field :episode_number %>
    </p>
    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>
    <p>
        <%= form.label :summary %><br>
        <%= form.text_area :summary %>
    </p>
    <p>
        <%= form.submit "Crear episodio"%>
    </p>
<% end %>

<%= link_to 'Edit', edit_tv_show_path(@tv_show) %> |
<%= link_to 'Back', tv_shows_path %>
